/Dockerfile*
/.cproject
/.project
/*.la
/*.log
/configure
/configure~
/config.guess*
/config.status
/config.sub*
/depcomp
/ar-lib
/aclocal.m4
/.gitignore
/test/*.la
/test/*.log
/test/.gitignore
/.github
/openidc.conf
