/Dockerfile*
/.cproject
/.project
/*.la
/*.log
/*.rpm
/configure
/configure~
/config.guess*
/config.status
/config.sub*
/depcomp
/ar-lib
/aclocal.m4
/.gitignore
/docker-compose.yml
/test/Dockerfile
/test/*.la
/test/*.log
/test/.gitignore
/test/openidc.conf
/test/keycloak.sh
/test/mod_auth_openidc.jmx
