/aclocal.m4
/config.log
/config.status
/configure
/Makefile
/discover
/metadata
/build/
/.libs/
/m4/
/compile
/config.guess
/install-sh
/libtool
/ltmain.sh
/mod_auth_openidc.la
/config.sub
/depcomp
/missing
/.settings/
/.autotools
/.vscode/
/configure~
/Dockerfile-*
/*.rpm

/config.guess~
/config.sub~
