/config.log
/config.status
/configure
/Makefile
/aclocal.m4
/Makefile.in
/libtool
/ltmain.sh
/missing
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/.autotools
/build/
/.settings/
/.libs/
/mod_oauth2.la
/config.guess~
/config.sub~
/configure~
