/autom4te.cache/
/.vscode/
/.libs/
/.settings/
/m4/
/.project
/.cproject
/.dockerignore
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.guess~
/config.log
/config.status
/config.sub
/config.sub~
/configure
/configure~
/depcomp
/*.rpm
/install-sh
/install-sh~
/*.la
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/test-driver
/test-suite.log
