name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    - name: Dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -y apache2-dev libcjose-dev libssl-dev check pkg-config
        sudo apt-get install -y libjansson-dev libcurl4-openssl-dev libhiredis-dev libpcre2-dev libjq-dev check
        sudo apt-get install -y valgrind
        cd /tmp
        #curl https://api.github.com/repos/OpenIDC/liboauth2/releases/latest | grep "browser_download_url.*liboauth2_.*jammy_amd64.deb" | cut -d: -f2,3 | tr -d \" | wget -qi -
        #curl https://api.github.com/repos/OpenIDC/liboauth2/releases/latest | grep "browser_download_url.*liboauth2-apache_.*jammy_amd64.deb" | cut -d: -f2,3 | tr -d \" | wget -qi -
        #curl https://api.github.com/repos/OpenIDC/liboauth2/releases/latest | grep "browser_download_url.*liboauth2-dev_.*jammy_amd64.deb" | cut -d: -f2,3 | tr -d \" | wget -qi -
        #sudo apt-get -y install ./*.deb
        git clone https://github.com/OpenIDC/liboauth2.git
        cd liboauth2
        ./autogen.sh
        ./configure
        make
        sudo make install
    - name: Configure
      run: |
        ./autogen.sh
        ./configure --with-jq

    - name: Make
      run: make

    - name: Valgrind
      run: make valgrind
    - name: Distcheck
      run: make distcheck DESTDIR="/tmp/mod_oauth2"
